@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600;700&display=swap');

:root {
    --green: #2ecc71;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    color: #222;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-top: 1vw;
    letter-spacing: 1px;
}

button {
    height: 3em;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #0002;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #222;
    cursor: pointer;
    padding: 0;
    margin: 0 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
}

button.ui-state-disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: saturate(0);
}

button.ui-state-disabled:hover {
    transform: scale(1);
}

button:hover {
    color: #fff;
    border-color: #fff;
}

.ui-widget-header button {
    border: 3px solid #0002;
    border-radius: 1vw;
    padding: 0 1em;
}

.ui-widget-header button:hover {
    border-color: #fff;
}

.ng-star-inserted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 0.7em;
    margin-bottom: 0.25em;
}

.ui-widget-header {
    position: absolute;
    top: 2vw;
}

#scoreboard {
    position: relative;
    width: 70vw;
    height: 2.5em;
    line-height: 1em;
    background-color: #fff;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    box-shadow: 0 4vw 4vw -2vw #0007;
    padding: 0 0.75em 0 0.75em;
    margin: 1em 0;
    overflow: hidden;
}

.bestOf {
    font-size: 0.6em;
    font-weight: 600;
    transform: translateY(0.15em);
    margin: 0 -0.75em;
}

.player1Name, .player2Name {
    font-weight: 600;
    text-align: left;
    width: 21vw;
    transform: translateX(0.75em);
    letter-spacing: 1px;
}

.player2Name {
    text-align: right;
    transform: translateX(-0.75em);
}

.currentPlayer {
    position: absolute;
    background-color: red;
    height: 0.4em;
    width: 0.4em;
    border-radius: 999px;
    transform: translateY(0em);
}

.currentFramePoints {
    width: 2em;
    height: 100%;
    line-height: 2.5em;
    border: 3px solid var(--green);
    text-align: center;
}

.frames {
    margin: 0;
}

overview-box {
    margin-bottom: 1em;
    color: #fff;
    z-index: 999;
}

overview-box button {
    position: relative;
}

overview-box button:hover {
    border-color: #0002;
}

overview-box button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #fff;
    border: none;
    transform: translateY(3px);
    transition: 0.3s;
}

overview-box button:hover::after {
    width: 100%;
}

overview-box div div:nth-child(3n) {
    position: absolute;
    top: 2vw;
}

overview-box * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

overview-box h3 {
    display: none;
}

overview-box div div:nth-child(3n) {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-bottom: 0.5em;
}

ball-selection-box {
    width: 60vw;
    background-color: #fff;
    border-radius: 1vw 1vw 0 0;
    display: flex;
    justify-content: center;
}

ball-selection-box > div {
    margin: 1em 0;
}

ball-selection-box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ball-selection-box p-button button {
    height: 3em;
    width: 3em;
    padding: 0;
    background-size: contain;
    text-indent: -99999px;
    border: none;
    margin: 0 0.5em;
}

ball-selection-box p-button button:hover {
    background-color: transparent;
    transform: translateY(-0.2em) scale(1.1);
}

ball-selection-box p-button[label=Rot] button {
    background-image: url('../images/redBall.png');
}

ball-selection-box p-button[label=Gelb] button {
    background-image: url('../images/yellowBall.png');
}

ball-selection-box p-button[label=Grün] button {
    background-image: url('../images/greenBall.png');
}

ball-selection-box p-button[label=Braun] button {
    background-image: url('../images/brownBall.png');
}

ball-selection-box p-button[label=Blau] button {
    background-image: url('../images/blueBall.png');
}

ball-selection-box p-button[label=Pink] button {
    background-image: url('../images/pinkBall.png');
}

ball-selection-box p-button[label=Schwarz] button {
    background-image: url('../images/blackBall.png');
}

foul-selection-box {
    width: 60vw;
    background-color: #fff;
    border-radius: 0 0 1vw 1vw;
    padding: 0.5em 0 1em 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 4vw 4vw -2vw #0007;
}

foul-selection-box button {
    border-radius: 1vw;
    border: 3px solid #0002;
    width: 4em;
    margin: 0 1em;
}

foul-selection-box button:hover {
    color: #222;
    border-color: #222;
}

foul-selection-box div {
    display: flex;
    justify-content: center;
}