<div>
  <div>
    <h3>Ball:</h3>
  </div>
  <p-button (onClick)="redBallSelected()" label="Rot"></p-button>
  <p-button (onClick)="yellowBallSelected()" label="Gelb"></p-button>
  <p-button (onClick)="greenBallSelected()" label="Grün"></p-button>
  <p-button (onClick)="brownBallSelected()" label="Braun"></p-button>
  <p-button (onClick)="blueBallSelected()" label="Blau"></p-button>
  <p-button (onClick)="pinkBallSelected()" label="Pink"></p-button>
  <p-button (onClick)="blackBallSelected()" label="Schwarz"></p-button>
</div>